//colors
$bodycolor           : #D24D57;
$black           	 : #000;
$white               : #fff;
$gray                : #e8e8e8;
$red                 : #FF4136;
$dark_red            : #AF2107;
$lobster             : #EF5D65;
$beige               : #D28E50;
$maroon              : #85144b;
$tuatara             : #383838;
$shark               : #282828;
$mischka             : #d0d1d5;
$mercury             : #e5e6e9;
$bon_jour            : #dfe0e4;
$gallery             : #f0f0f0;
$stack               : #8c8b8b;
$alabaster           : #f9f9f9;
$tundora             : #444;
$fuscous_gray        : #555;
$alabaster           : #fcfcfc;
$celeste             : #ccc;
$pink_swan           : #bbb;
$comp-color 	     : complement(#222); 

//button colors
$success			 : #5cb85c;
$warning			 : #dd8338;
$danger				 : #C64537;
$info		         : #308cbc;

//fonts
$font1               : Fira Sans,sans-serif;
$font2               : Inconsolata;
$alt-font            : serif;
$doc-font-size       : 16;
$doc-line-height     : 26;

//media
$small               : "only screen and (max-width: 30em)";
$medium              : "only screen and (min-width: 30.1em) and (max-width: 48em)";
$large               : "only screen and (min-width: 48.1em) and (max-width: 62.5em)";
$notsmall            : "only screen and (min-width: 48em)";
